.idea
.env
*.log
.DS_Store
**/cache/*
!wordpress/wp-content/plugins/**/cache/*
!wordpress/wp-includes/**/cache/*
wordpress/wp-content/upgrade-temp-backup/*
composer.phar
php-cs-fixer
.grunt/*
wordpress/.htaccess.*
!wordpress/.htaccess.example
error_log
wordpress/nginx.conf
wordpress/imagify-backup
wordpress/wp-content/wflogs
wordpress/wp-content/themes/dock/node_modules
wordpress/wp-content/themes/dock/assets/dist
wordpress/wp-content/litespeed
wordpress/wp-content/.litespeed_conf.dat
wordpress/wp-content/ai1wm-backups
wordpress/wp-content/backups-dup-lite
wordpress/wp-content/uploads/*
wordpress/wp-content/**/products-feed*.xml
wordpress/wp-content/temp-write-test*