:root {

  /* spaces */

  --m4: 4px;
  --m6: 6px;
  --m8: 8px;
  --m12: 12px;
  --m16: 16px;
  --m20: 20px;
  --m24: 24px;
  --m32: 32px;
  --m40: 40px;
  --m60: 60px;
  --m80: 80px;
  --m120: 120px;
  --slider-gap: 40px;

  /* sizes */

  --radius-mini: 6px;
  --radius-sm: 8px;
  --radius: 12px;
  --h20: 20px;
  --h26: 26px;
  --radius-big: 30px;
  --w28: 28px;
  --h35: 35px;
  --h40: 40px;
  --radius-max: 40px;
  --btn: 44px;
  --w48: 48px;
  --h50: 50px;
  --h80: 80px;
  --w100: 100px;
  --h120: 120px;
  --nav: 120px;
  --w140: 140px;
  --h160: 160px;
  --w180: 180px;
  --w240: 240px;
  --h250: 250px;
  --w340: 340px;
  --h340: 340px;
  --w360: 360px;
  --w450: 450px;
  --h450: 450px;
  --h500: 500px;
  --wrap-mini: 500px;
  --h600: 600px;
  --h700: 700px;
  --w700: 700px;
  --h800: 800px;
  --wrap-sm: 800px;
  --wrap-md: 1000px;
  --wrap-order: 1140px;
  --wrap: 1366px;
  --wrap-big: 1520px;
  --nav-sm: 70px;

  /* colors */

  --black: #000000;
  --blue: #242f91;
  --border-b: #d7d7d7;
  --footer: #edfcfa;
  --footer-border: #5eb3ab;
  --gray: #797e79;
  --gray-account: #f8f8f8;
  --gray-body: #2c4d4b;
  --gray-body-sm: #62908d;
  --gray-l: #f1f1f1;
  --gray-logo: #555555;
  --gray-md: #e9e9e9;
  --green: #25c1a3;
  --green-dark: #95b4b4;
  --green-logo: #27aa94;
  --green-max: #2fd3b4;
  --green-med: #e5ebeb;
  --green-lg: #85958b;
  --lightbg-md: #edf1ee;
  --lightbg: #f8faf8;
  --orange: #eda435;
  --overlay: #34444373;
  --pink: #ef5789;
  --pink01: #ef578912;
  --primary: #249186;
  --primary01: #24918612;
  --white: #ffffff;
  --white01: #ffffff33;

  /* weights */

  --fw400: 400;
  --fw450: 450;
  --fw475: 475;
  --fw500: 500;
  --fw550: 550;
  --fw575: 575;
  --fw600: 600;
  --fw625: 625;

  /* letter-spacing */

  --ls1: -0.01em;
  --ls2: -0.02em;

  /* line-height */

  --lh100: 100%;
  --lh110: 110%;
  --lh125: 125%;
  --lh140: 140%;
  --lh160: 160%;
  --lh180: 180%;

  /* fonts */

  --f8: 8px;
  --f10: 10px;
  --f11: 11px;
  --f12: 12px;
  --f13: 13px;
  --f14: 14px;
  --f15: 15px;
  --f16: 16px;
  --f20: 20px;
  --f24: 24px;
  --h1: 32px;
  --h2: 28px;
  --h3: 18px;

  /* shadows */

  --bigshadow: 0 10px 24px 0 rgba(220, 224, 231, 0.30);
  --smallshadow: 0 2px 4px rgba(75, 97, 136, 0.08);
  --focus: 0 0 0 4px rgba(0, 0, 0, 0.05);
  --shadow: 0 4px 16px rgba(75, 97, 136, 0.15);
  --blur: blur(10px);
  --outline: 4px solid rgba(44, 77, 75, 0.07);

  /* icons */

  --arrow-r: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='13' viewBox='0 0 7 13' fill='none'%3E%3Cpath d='M0.736427 12.5C0.690445 12.5 0.645529 12.485 0.607447 12.4571C0.569364 12.4291 0.53986 12.3895 0.522724 12.3432C0.505587 12.297 0.501604 12.2463 0.511285 12.1975C0.520965 12.1488 0.543867 12.1043 0.577048 12.0698L5.93628 6.50307L0.577048 0.93631C0.553946 0.913966 0.535234 0.886809 0.522027 0.856455C0.50882 0.826102 0.501387 0.793177 0.500176 0.759642C0.498965 0.726108 0.504 0.692653 0.514978 0.661273C0.525956 0.629893 0.542648 0.601229 0.564069 0.576996C0.585489 0.552764 0.611199 0.533461 0.639653 0.520232C0.668108 0.507003 0.698726 0.500123 0.729688 0.500002C0.760649 0.49988 0.791314 0.506517 0.819856 0.519523C0.848398 0.532529 0.874232 0.551636 0.895813 0.5757L6.42886 6.32276C6.45135 6.34604 6.46924 6.37403 6.48147 6.40502C6.4937 6.43601 6.5 6.46936 6.5 6.50307C6.5 6.53677 6.4937 6.57012 6.48147 6.60111C6.46924 6.6321 6.45135 6.66009 6.42886 6.68337L0.895813 12.4304C0.853058 12.4752 0.795882 12.5002 0.736427 12.5Z' fill='%232C4D4B' stroke='%232C4D4B'/%3E%3C/svg%3E") 50%/contain no-repeat;
  --arrow-l: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='13' viewBox='0 0 7 13' fill='none'%3E%3Cpath d='M6.26357 12.5C6.30956 12.5 6.35447 12.485 6.39255 12.4571C6.43064 12.4291 6.46014 12.3895 6.47728 12.3432C6.49441 12.297 6.4984 12.2463 6.48872 12.1975C6.47903 12.1488 6.45613 12.1043 6.42295 12.0698L1.06372 6.50307L6.42295 0.93631C6.44605 0.913966 6.46477 0.886809 6.47797 0.856455C6.49118 0.826102 6.49861 0.793177 6.49982 0.759642C6.50103 0.726108 6.496 0.692653 6.48502 0.661273C6.47404 0.629893 6.45735 0.601229 6.43593 0.576996C6.41451 0.552764 6.3888 0.533461 6.36035 0.520232C6.33189 0.507003 6.30127 0.500123 6.27031 0.500002C6.23935 0.49988 6.20869 0.506517 6.18014 0.519523C6.1516 0.532529 6.12577 0.551636 6.10419 0.5757L0.571138 6.32276C0.548655 6.34604 0.530756 6.37403 0.51853 6.40502C0.506304 6.43601 0.5 6.46936 0.5 6.50307C0.5 6.53677 0.506304 6.57012 0.51853 6.60111C0.530756 6.6321 0.548655 6.66009 0.571138 6.68337L6.10419 12.4304C6.14694 12.4752 6.20412 12.5002 6.26357 12.5Z' fill='%232C4D4B' stroke='%232C4D4B'/%3E%3C/svg%3E") 50%/contain no-repeat;
  --star-f: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M16.4218 5.77587L11.1811 5.00518L8.80052 0.244051C8.62925 -0.0813503 8.14972 -0.0813503 7.99558 0.244051L5.63214 5.02231L0.391471 5.77587C0.0146905 5.82725 -0.139447 6.30679 0.151701 6.54655L3.93663 10.263L3.04606 15.4865C2.99468 15.8462 3.35433 16.1373 3.71399 15.9318L8.42374 13.4827L13.1164 15.9318C13.4246 16.1031 13.8357 15.829 13.7672 15.4865L12.8766 10.263L16.6615 6.54655C16.9355 6.28966 16.7985 5.82725 16.4218 5.77587Z' fill='%23249186'/%3E%3C/svg%3E") 50%/contain no-repeat;
  --star: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M3.61332 16C3.47173 16 3.34783 15.9646 3.22394 15.8761C3.01155 15.7345 2.92305 15.4867 2.95845 15.2212L3.79031 10.2832L0.197391 6.77876C0.0203994 6.60177 -0.0503971 6.33628 0.0380985 6.10619C0.108895 5.85841 0.321284 5.69912 0.569072 5.64602L5.52482 4.88496L7.75491 0.371681C7.86111 0.141593 8.0912 0 8.35668 0C8.60447 0 8.83456 0.141593 8.95845 0.371681L11.1885 4.88496L16.1443 5.62832C16.3921 5.66372 16.6045 5.84071 16.6753 6.0885C16.7461 6.33628 16.693 6.58407 16.516 6.76106L12.9231 10.2655L13.7549 15.2035C13.7903 15.4513 13.7018 15.6991 13.4894 15.8584C13.277 16.0177 13.0115 16.0354 12.7992 15.9115L8.35668 13.5929L3.9142 15.9115C3.82571 15.9646 3.71951 16 3.61332 16ZM1.33013 6.51327L4.83456 9.9469L4.0204 14.7611L8.35668 12.4956L12.693 14.7434L11.8788 9.9115L15.3832 6.47788L10.5337 5.75221L8.35668 1.36283L6.17969 5.76991L1.33013 6.51327Z' fill='%23249186'/%3E%3C/svg%3E") 50%/contain no-repeat;
  --search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M15.2848 7.64151C15.2848 3.42849 11.8559 0 7.64241 0C3.4289 0 0 3.42849 0 7.64151C0 11.8545 3.4289 15.283 7.64241 15.283C9.5666 15.283 11.3261 14.5664 12.6694 13.3896L17.1309 17.8506C17.2311 17.9508 17.3602 18 17.4909 18C17.6217 18 17.7525 17.9508 17.851 17.8506C18.0497 17.6519 18.0497 17.3292 17.851 17.1306L13.3895 12.6696C14.5681 11.3247 15.2831 9.56547 15.2831 7.64151H15.2848ZM1.01899 7.64151C1.01899 3.99057 3.99104 1.01887 7.64241 1.01887C11.2938 1.01887 14.2658 3.99057 14.2658 7.64151C14.2658 11.2925 11.2938 14.2642 7.64241 14.2642C3.99104 14.2642 1.01899 11.2925 1.01899 7.64151Z' fill='white'/%3E%3C/svg%3E") 50%/contain no-repeat;
}

@media (max-width: 1700px) {
  :root {
    /* sizes */

    --wrap: 1100px;
    --w360: 320px;
    --f15: 14px;
    --slider-gap: 24px;
    --h250: 220px;
    --w340: 280px;
    --h600: 450px;
    --f24: 22px;
    --h1: 28px;
    --h2: 26px;

  }
}

@media (max-width: 1240px) {
  :root {
    /* sizes */


    --w360: 280px;
    --f16: 15px;
    --m80: 60px;
    --m60: 40px;
    --f24: 20px;
    --h1: 26px;
    --h2: 24px;
    --h500: 450px;
    --f20: 18px;
    --wrap: 100%;
    --wrap-mini: 450px;
    --wrap-md: 920px;
    --f14: 13px;

  }
}

@media (max-width: 1024px) {

  :root {
    --h340: 280px;
    --wrap-md: 100%;
    --h700: 500px;
    --m80: 40px;
    --wrap-sm: 100%;
    --f12: 11px;
  }
}


@media (max-width: 768px) {

  :root {
    --nav: 100px;
    --h35: 25px;
    --f24: 20px;
    --h1: 22px;
    --h2: 20px;
    --h3: 16px;
    --f20: 16px;
    --f16: 14px;
    --h340: 240px;
    --h600: 400px;
    --h700: 400px;
    --h160: 120px;
  }
}

@media (max-width: 600px) {

  :root {

    --h600: 320px;

  }
}

@media (max-width: 500px) {

  :root {
    --slider-gap: 8px;
    --h160: 100px;
    --h1: 20px;
    --h2: 18px;
    --h3: 15px;
    --f20: 15px;
    --h250: 180px;
    --h340: 180px;
    --h450: 320px;
    --h600: 280px;
    --h700: 280px;
  }
}