services:
  db:
    container_name: ${CONTAINER_NAME_MYSQL}
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: ${TZ}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "${CONTAINER_PORT_MYSQL}:3306"
    networks:
      - app_network

  app:
    image: "${DOCKERHUB_REGISTRY}${IMAGE_NAME_APP}:${BRANCH:-latest}"
    pull_policy: never
    container_name: ${CONTAINER_NAME_APP}
    build:
      context: ./
      target: dev
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    restart: always
    volumes:
      - ./wordpress/:/var/www/html
    ports:
      - "${CONTAINER_PORT_APP}:80"
    environment:
      SSL_MODE: "mixed"
      PHP_UPLOAD_MAX_FILE_SIZE: ${PHP_UPLOAD_MAX_FILE_SIZE}
      PHP_POST_MAX_SIZE: ${PHP_POST_MAX_SIZE}
      PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT}
      PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
      PHP_FPM_PM_CONTROL: ${PHP_FPM_PM_CONTROL}
      PHP_FPM_PM_MAX_CHILDREN: ${PHP_FPM_PM_MAX_CHILDREN}
      PHP_OPCACHE_ENABLE: ${PHP_OPCACHE_ENABLE}
      DB_HOST: ${DB_HOST}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      DB_CHARSET: ${DB_CHARSET}
      DB_TABLE_PREFIX: ${DB_TABLE_PREFIX}
      WP_ENV: ${WP_ENV}
      TZ: ${TZ}
    networks:
      - app_network
    links:
      - db
    extra_hosts:
      - localhost.wcag:host-gateway
    user: ${USER_ID}:${GROUP_ID}

  schedule:
    image: "${DOCKERHUB_REGISTRY}${IMAGE_NAME_APP}:${BRANCH:-latest}"
    pull_policy: never
    container_name: ${CONTAINER_NAME_SCHEDULE}
    depends_on:
      - app
    restart: always
    volumes:
      - ./wordpress:/var/www/html
    environment:
      PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT}
      PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
      DB_HOST: ${DB_HOST}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      DB_CHARSET: ${DB_CHARSET}
      DB_TABLE_PREFIX: ${DB_TABLE_PREFIX}
      TZ: ${TZ}
    networks:
      - app_network
    user: ${USER_ID}:${GROUP_ID}
    extra_hosts:
      - localhost.wcag:host-gateway
    command: [ "sh", "-c", "while true; do wp cron event run --due-now --path=/var/www/html --allow-root; sleep 60; done" ]
    stop_signal: SIGTERM
    healthcheck:
      test: ["CMD", "wp", "core", "verify-checksums", "--path=/var/www/html", "--allow-root"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  pma:
    container_name: ${CONTAINER_NAME_PHPMYADMIN}
    restart: always
    depends_on:
      - db
    image: phpmyadmin:latest
    ports:
      - "${CONTAINER_PORT_PHPMYADMIN}:80"
    environment:
      PMA_HOST: db
      UPLOAD_LIMIT: 1024M
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      TZ: ${TZ}
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db_data:
    driver: local
