@use "mixins" as *;
@use "variables";

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav);


  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    background: var(--white);
    height: 100%;
    margin: 0;
    @include fontsize;
    padding: var(--nav) var(--m24) 0;

    i {
      font-style: normal;
    }

    img {
      max-width: 100%;
      height: auto;
      align-self: center;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table {
      border-collapse: collapse;
      margin: 0;
      width: 100%;
    }
  }
}